<head>
  <script
    src="https://cdn.jsdelivr.net/npm/@waline/client@2.6.2/dist/waline.js"
    integrity="sha256-Pen0QbhdnjU2lr7byy5AQ7FBo9B6B7gfW/z/M8Qj70A="
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@waline/client@2.6.2/dist/waline.css"
    integrity="sha256-auc32xxgmnEAKb9yBhbEuNAR/GcifPGJHLz+34/ZI2k="
    crossorigin="anonymous"
  />
</head>
<body>
  <div id="waline" style="padding-top: 4rem"></div>
  <script>
    Waline.init({
      el: "#waline",
      dark: true,
      avatar: 'retro',
      serverURL: "https://blog-comment.pokon548.ink",

      emoji: [
        "https://cdn.jsdelivr.net/npm/@waline/emojis@1.0.1/tw-emoji"
      ],
    });
  </script>
</body>
