<head>
  <script
    src="https://cdn.jsdelivr.net/npm/@waline/client@2.6.4/dist/waline.js"
    integrity="sha256-vdq3Oh/54jsYhTqUHHvjK3T8OCTbUJ8r+q4uGRJmbMM="
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@waline/client@2.6.4/dist/waline.css"
    integrity="sha256-6VoiPdS8Ym26N2FQxx/nF0AaExmIuNtVwe7GjoB88gk="
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/waline-custom.css" />
</head>
<body>
  <div id="waline" style="padding-top: 2rem"></div>
  <script>
    const locale = {
      placeholder: "加入讨论...（如果你在评论时留下邮箱，就能收到回复提醒！）",
      login: "使用 GitHub 等登录",
    };

    Waline.init({
      el: "#waline",
      avatar: "retro",
      serverURL: "https://blog-comment.pokon548.ink",
      search: false,
      imageUploader: false,

      emoji: ["https://cdn.jsdelivr.net/npm/@waline/emojis@1.1.0/tw-emoji"],
      locale,
    });
  </script>
</body>
