<head>
  <script
    src="https://cdn.jsdelivr.net/npm/@waline/client@2.15.8/dist/waline.js"
    integrity="sha256-lqA/y2mQsGKI0FvEOSav9SW79p/aS7I6hadGXRehDbQ="
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@waline/client@2.15.8/dist/waline.css"
    integrity="sha256-Qg+S22r2mNq4K3OO+ma7299CIHCYzAdjHCldakurKiI="
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/waline-custom.css" />
</head>

<body>
  <div id="waline" style="padding-top: 2rem"></div>
  <script>
    const locale = {
      placeholder: "由于重大节假日敏感原因（国庆），评论区暂时开启先审后发。所有新评论在审核通过前无法被他人看见，通过前烦请不要重复评论，感谢你的理解 ¯\_(ツ)_/¯。加入讨论...（如果你在评论时留下邮箱，就能收到回复提醒！）",
      login: "使用 GitHub 等登录",
    };

    Waline.init({
      el: "#waline",
      avatar: "retro",
      serverURL: "https://blog-comment.pokon548.ink",
      search: false,
      imageUploader: false,

      emoji: ["https://cdn.jsdelivr.net/npm/@waline/emojis@1.2.0/tw-emoji"],
      locale,
    });
  </script>
</body>
